ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(60, 42, 71);
    position: sticky;
    top: 0;
}

<<<<<<< HEAD
.title {
  color: #fff;
  font-size: 5em;
}

.sub-title {
  color: #fff;
  font-size: 1.3em;
=======
li {
    float: left;
    font-size: 23px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 36px;
    text-decoration: none;
  }
  
li a:hover {
    background-color: rgb(40, 9, 58);
}
  
.active {
    background-color: #4CAF50;
>>>>>>> origin
}
