<!DOCTYPE html>
<html class = "no-js" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Austin Pope, Eric Kiesow">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/assets/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/assets/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/assets/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="../static/assets/favicon_io/site.webmanifest">
    {% block head %}{% endblock head %}
    <title>
        {% block title %}{% endblock title %}
    </title>

    <!-- Compressed CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/css/foundation.min.css" integrity="sha256-ogmFxjqiTMnZhxCqVmcqTvjfe1Y/ec4WaRj/aQPvn+I=" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/base.css">
    {% block css %}{% endblock css %}
</head>
<div class="main-container">
    <body>
        <div class="center">
            <img class="logo" src="../static/assets/logo.png" alt="Hop Mill Brewing logo" width="100" height="100">
            <h1 class="page-title"> Hop-Mill Brewery </h1>
        </div>
        <ul>
            <li><a class="link" href="/">Home</a></li>
            <li><a class="link" href="/beer">Beer</a></li>
            <li><a class="link" href="/taproom">Taproom</a></li>
            <li><a class="link" href="/tours">Tours</a></li>
            <li><a class="link" href="/contact">Contact</a></li>
            <li><a class="link" href="/about">About</a></li>
        </ul>
    
        <div id="content">
            {% block content %}{% endblock content %}
        </div>
    
        <!-- Compressed JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/js/foundation.min.js" integrity="sha256-pRF3zifJRA9jXGv++b06qwtSqX1byFQOLjqa2PTEb2o=" crossorigin="anonymous"></script>
        {% block scripts %}{% endblock scripts %}
    
    </body>
    <footer>
        <div class="footer-utility">
            <div class="container-fluid">
                <div class="row">
                    <div class="footer-row-left">
                        &copy; Hop Mill Brewing Company
                    </div>
                    <div class="footer-row-right">
                        <address>
                        <a class="link"
                        href="https://www.google.com/maps/place/3966+S+Main+St,+Hope+Mills,+NC+28348/@34.9661412,-78.9470113,17z/data=!3m1!4b1!4m5!3m4!1s0x89ab16a4117784a3:0x29441c77a1e5ceb3!8m2!3d34.9661412!4d-78.9448226"
                        target="_blank">
                        3966 S Main St Hope Mills, NC 28348</a>
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
</html>